---
import { getAllPosts, getConfig } from "../../lib/cosmic";
import Layout from "../../layouts/Layout.astro";
import PostBody from "../../components/PostBody";
import { Image } from "@astrojs/image/components";
import { parseISO, format } from "date-fns";
import Author from "../../components/Author.astro";
const config = await getConfig();
const defaultAvatar = config.metadata.default_avatar.imgix_url;
interface Post {
  slug: string;
  title: string;
  created_at: string;
  metadata: {
    excerpt: string;
    content: string;
    cover_image: {
      imgix_url: string;
    };
    author: {
      title: string;
      metadata: {
        avatar: {
          imgix_url: string;
        };
      };
    };
  };
}

export async function getStaticPaths() {
  const data = (await getAllPosts()) || [];

  return data.map((post: Post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---

<Layout
  title={post.title}
  description={post.metadata.excerpt}
  imageUrl={post.metadata.cover_image.imgix_url}
>
  <article>
    <section class="border-b border-b-green-300 pb-8 text-center">
      <h1 class="text-3xl mb-2">{post.title}</h1>
      <span class="text-md text-gray-500"
        >{format(parseISO(post.created_at), "M/d/yy")}</span
      >
    </section>
    <PostBody content={post.metadata.content} />
  </article>
</Layout>
